[submodule "bitbake"]
	path = bitbake
	url = git://git.openembedded.org/bitbake
[submodule "openembedded-core"]
	path = openembedded-core
	url = git://git.openembedded.org/openembedded-core.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "meta-oe"]
	path = meta-oe
	url = git@github.com:openwebos/meta-oe.git
[submodule "meta-webos"]
	path = meta-webos
	url = git@github.com:openwebos/meta-webos.git
