# Copyright (c) 2012 Hewlett-Packard Development Company, L.P.

# Common Eclipse project files
.project
.cproject

# Build Products
*~
BUILD-*/
Makefile
TAGS
autom4te.cache
bitbake.lock
downloads/
mcf.status
sstate-cache/
tmp

# Local override file
webos-local.conf
